/* Google Fonts - Poppins */

#slide-container {
  max-width: 1120px;
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.container-dest.card.swiper-slide {
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card.container-dest {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.slide-content {
  margin: 0 48px;
  overflow: hidden;
  border-radius: 25px;
  width: 90%;
  height: 250px;
}

.swipper-wrapper {
  margin: 0 40px;
  border-radius: 25px;
  width: 200px;
  height: 200px;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-button-prev {
  left: 0;
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

#glider-container-est {
  max-width: 1120px;
  width: 100%;
  height: 330px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  z-index: 1;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper.glider-slide {
  margin: 11px 20px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.container-est.card {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
}

.glider.draggable {
  overflow: hidden;
  border-radius: 25px;
  width: 93%;
  height: 240px;
  margin: 27px 40px;
}

.glider-track {
  border-radius: 25px;
  height: 200px;
  align-items: stretch;
}

.glider-dot {
  background-color: #6E93f7;
  opacity: 1;
  width: 8px;
  height: 8px;
}

.container-est.card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.glider-dot {
  background-color: #6E93f7;
  opacity: 1;
  width: 6px;
  height: 6px;
  transition: .2s transform, .2s left;
}

.glider-dot.active {
  background-color: #4070F4;
  cursor: pointer;
  width: 8px;
  height: 8px;
}

.glider-prev, .glider-next {
  color: #6E93f7;
  margin-top: 70px;
  font-size: 50px !important;
  }

.glider-prev:hover, .glider-next:hover {
  color: #4070F4;
  cursor: pointer;
  font-size: 50px !important;
  margin-top: 70px;
  }

.glider-prev.disabled, .glider-next.disabled {
  color: #6E93f7;
  font-size: 50px !important;
  margin-top: 70px;
 }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  border-radius: 25px;
}

.container-dest:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.glider-container {
  margin-bottom: 40px;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  height: auto;
}

.glider {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card-info {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.container-est:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.hidden-card-glider {
  visibility: hidden;
}

.glider-slide.filtered-card {
  width: 250px;
  height: 250px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}